.footer {

   .container {
      @extend %container;
   }

   &__top,
   &__wrap-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__top {
      position: relative;
      padding: 75px 0 25px;

      @include media(xs) {
         padding: 65px 0 40px;
      }

      @include media(md) {
         padding: 85px 65px 40px;
      }
   }

   &__logo {

      &:hover {
         opacity: 0.7;
      }

      @include media(xs) {
         width: 129px;
         margin-top: 8px;
      }
   }

   &__select {
      width: 40px;
      @include text(15px, "Montserrat-400", 18px, $textColor);
      background: url("./../images/Arrow.png") no-repeat right center;
      background-size: 11px 6px;
      cursor: pointer;
      border: none;
      appearance: none;
      outline: none;
   }

   &__list-social,
   &__list-payment {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__list-social {
      width: 140px;

      @include media(xs) {
         align-self: flex-start;
      }

      @include media(md) {
         width: 215px;
      }
   }

   &__item-social {

      &:hover {
         opacity: 0.7;
      }
   }

   &__item-select {
      display: none;

      @include media(md) {
         display: block;
      }
   }

   .go-top {
      position: fixed;
      bottom: 35px;
      right: 20px;
      z-index: 100;

      @include media(xs) {
         bottom: 57px;
         right: 20px;
      }

      @include media(md) {
         right: 30px;
      }
   }

   .go-top-icon {
      cursor: pointer;
      opacity: 0.6;
      width: 50px;
      height: 50px;
   }

   .go-top-icon:hover {
      opacity: 0.8;
   }

   &__bottom {
      border-top: solid .5px #B3B3B3;

      .container {
         @extend %container;
      }

      @include media(xs) {
         background-color: #FAF9F8;
         border-top: none;
      }
   }

   &__wrap-bottom {
      position: relative;
      padding: 20px 0 100px;

      @include media(xs) {
         padding: 25px 0 20px;
      }

      @include media(md) {
         padding: 20px 60px 25px;
      }
   }

   &__list-payment {
      width: 80px;

      @include media(xs) {
         width: 100px;
      }
   }

   &__item-payment {

      &:hover {
         opacity: 0.7;
      }
   }

   &__img-payment {
      width: 34px;

      @include media(xs) {
         width: 39px;
      }
   }

   &__paragraph {
      text-align: center;
      position: absolute;
      top: 70px;
      left: 50%;
      width: 260px;
      transform: translateX(-50%);

      @include media(xs) {
         top: 15px;
      }
   }

   &__text {
      @include text(14px, "Montserrat-400", 17px, $textColorLight);
      margin-bottom: 10px;
   }

   &__select-bottom {

      @include media(md) {
         display: none;
      }
   }
}